##################################
# █████▄  ██  ▄████    ██     ██ #
# ██▄▄██▄ ██ ██  ▄▄▄   ██     ██ #
# ██   ██ ██  ▀███▀  ▄ ██████ ██ #
##################################
# Docs: https://rig.li/docs/     #
##################################

## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
sv_licenseKey "{{svLicense}}"
sv_enforceGameBuild 3751
set steam_webApiKey "none"
set mysql_connection_string "{{dbConnectionString}}"

## You SHOULD edit the following:
sv_hostname "{{serverName}} powered by {{recipeName}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets tags "default, rig"
sets locale "en-EN" # Replace with your language and location code, like en-US, pt-BR, etc
load_server_icon server_logo.png # Replace with your logo 96x96px

###################################
# Configuration                   #
###################################

## CFX
setr sv_showBusySpinnerOnLoadingScreen true # Hides the default busy spinner in the bottom right of the loadscreen
set resources_useSystemChat true # Disable default chat this will be disabled by default once `rig_chat` exists.
set sv_pureLevel 2 # Blocks players from connecting if they have modified core game files
set sv_enableNetworkedSounds false # Disables the routing of NETWORK_PLAY_SOUND_EVENT through the server.
set sv_enableNetworkedScriptEntityStates false # Blocks the routing of SCRIPT_ENTITY_STATE_CHANGE_EVENT from clients through the server.

## General
setr rig:general:debug false # Enable/disable debug logging
setr rig:general:language "en" # Set the server side language for console logs
set rig:general:small_console_splash false # Toggle small/large console spam on startup
set rig:general:connection_messages true # Enable/disable connection messages displayed when joining server

## Users & Connections
set rig:users:unique_id_chars 6 # Amount of characters used to create unique id's e.g. 123ABC
set rig:users:username_prefix "player" # Prefix used for default usernames e.g. player_123ABC

## Gameplay
set rig:gameplay:player_tick_rate 10000 # How often (in ms) "on_tick" class functions are fired on player
set rig:gameplay:player_save_interval 5 # How often (in mins) players are auto saved
set rig:gameplay:routing_bucket_population_enabled true # Enable/disable population for main routing bucket
set rig:gameplay:routing_bucket_lockdown_mode "strict" # Set the lockdown mode for main bucket
setr rig:gameplay:disable_dispatch true # Disable native police dispatch services
setr rig:gameplay:disable_police_scanner true # Disable the police scanner audio
setr rig:gameplay:disable_garbage_trucks true # Disable ambient garbage trucks
setr rig:gameplay:disable_random_cops true # Disable randomly spawning cop peds
setr rig:gameplay:disable_wanted true # Continuously clear the player's wanted level
setr rig:gameplay:disable_weapon_autoreload true # Disable automatic weapon reload
setr rig:gameplay:disable_weapon_autoswap true # Disable automatic weapon swap on pickup
setr rig:gameplay:hide_ammo true # Hide the ammo display HUD element
setr rig:gameplay:invalidate_idle_cam true # Prevent the idle/vehicle idle camera from kicking in
setr rig:gameplay:artificial_lights true # Force artificial lights (street lights etc) on
setr rig:gameplay:hide_hud_components true # Hide the configured list of HUD components every frame
setr rig:gameplay:hud_components "1,2,3,4,5,6,7,8,9,13,19,20,21,22" # Comma separated HUD component IDs to hide
setr rig:gameplay:disable_controls true # Disable the configured list of controls every frame
setr rig:gameplay:disable_controls_list "37,157,158,160,161,256,257" # Comma separated control IDs to disable

###################################
# Resources                       #
###################################

## CFX Defaults 
ensure chat
ensure baseevents

## Dependencies
ensure oxmysql

## Standalone
ensure [standalone]

## RIG
ensure [rig]

###################################
# Permissions                     #
###################################

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal group.admin group.staff

{{addPrincipalsMaster}}

# Inheritance
add_ace group.staff rig.dev allow
add_ace group.staff rig.admin allow