##################################
# █████▄  ██  ▄████    ██     ██ #
# ██▄▄██▄ ██ ██  ▄▄▄   ██     ██ #
# ██   ██ ██  ▀███▀  ▄ ██████ ██ #
##################################
# Docs: https://rig.li/docs/     #
##################################

## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
sv_licenseKey "{{svLicense}}"
sv_enforceGameBuild 3751
set steam_webApiKey "none"
set mysql_connection_string "{{dbConnectionString}}"

## You SHOULD edit the following:
sv_hostname "{{serverName}} powered by {{recipeName}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets tags "default, rig"            # Replace with server tags applicable to your server
sets locale "en-EN"                 # Replace with your language and location code, like en-US, pt-BR, etc
load_server_icon server_logo.png    # Replace with your logo 96x96px

## Initialisation

exec configs/convars.cfg            # Your framework configuration settings
exec configs/resources.cfg          # Your resources load order list (where you add scripts/maps/props/etc..)
exec configs/permissions.cfg        # Your admin/script permissions

##################################