###################################
# Permissions                     #
###################################

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal group.admin group.staff

{{addPrincipalsMaster}}

# Inheritance
add_ace group.staff rig.dev allow
add_ace group.staff rig.admin allow