###################################
# Resources                       #
###################################

## CFX Defaults 
ensure chat
ensure baseevents

## Dependencies
ensure oxmysql

## Standalone
ensure [standalone]

## RIG
ensure [rig]